<h1>Cribbage</h1>

<div class="sidebar">
  <h3>Players</h3>
  <ul class="player-list">
    <li>Human</li>
    <li>Computer</li>
  </ul>
  <a id="add-player">Add Player</a>

  <a id="start-game">Start Game</a>
</div>

<div class="preview">
  <h2 class="game-mode">2 Players</h2>

  <div id="board">
    <div class="track">
      <div class="peg"></div>
      <div class="peg"></div>
    </div>
  </div>

  <div id="deck" class="fanned">
    <div class="card"></div>
  </div>

  <div id="percentages">
    1/4 of 10
    1/16 of anything else
  </div>
</div>
